@use '../globals' as g;
@use '../util' as u;

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-row-gap: u.rem(15);
    padding: u.rem(54);

    .pokemon {
        margin-bottom: u.rem(52);

        @include u.breakpoint(xlarge) {
            padding: u.rem(54) u.rem(54) 0 u.rem(54) ;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            grid-gap: u.rem(100) u.rem(150);
        }
    }

}