@use "../globals" as g;
@use "../util" as u;

.modal {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.7);
	visibility: hidden;
	display: none;
	flex-direction: column;
	align-items: center;

	&.show {
		display: flex;
		visibility: visible;
	}

	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;

		@include u.breakpoint(xlarge) {
			width: u.em(1162);
		}
	}

	&__header {
		background-color: g.$secondary-color;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: u.rem(20) u.rem(30);

		h2 {
			color: #fff;
			margin-bottom: 0;
			font-size: u.rem(24);
		}

		&__close-btn {
			color: #fff;
			font-size: u.rem(26);

			&:hover {
				color: g.$primary-color;
			}
		}

		&__back-btn {
			@extend .modal__header__close-btn;
		}

        &__titles {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            @mixin active-title {
                background-color: g.$primary-color;
                border-left: 3px solid #fff;
                border-right: 3px solid #fff;
            }

            &__link {
                color: #fff;
                font-size: u.rem(24);
                font-family: u.$heading-font;
                padding: u.rem(14) u.rem(54);

                &:hover {
                    background-color: g.$primary-color;
                    transition: 0.4s ease-in-out;
                }
            }

            &__item.active &__link {
                @include active-title;
            }

        }
	}

	&__content {
		padding: u.rem(20) u.rem(73);
		background-color: #fff;
		border: 3px solid g.$secondary-color;
		border-radius: 0 0 u.rem(25) u.rem(25);

		&__card {
			display: grid;
			grid-template-columns: 1fr 4fr;
			grid-template-rows: 1fr;
		}

		// Pokemon card
		.pokemon-stats {
            padding-top: u.rem(20);

			&__experience {
				margin-top: u.rem(10);
				padding: u.rem(15);
				border: 1px solid g.$secondary-color;
				border-radius: u.rem(10);
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				p {
					text-align: center;
					font-weight: bold;
					font-size: u.rem(20);
					margin: 0 0 u.rem(10) 0;

					span {
						color: g.$primary-color;
					}
				}

				&__bars {
					width: 100%;
					height: 10px;
					border-radius: 5px;
					background-color: g.$black;
					position: relative;

					@mixin current-exp-bar {
						content: "";
						width: 50%;
						height: 100%;
						position: absolute;
						left: 0;
						top: 0;
						background-color: g.$success-color;
						border-radius: 5px;
					}

					&::before {
						@include current-exp-bar();
					}

					&.with-expected::after {
						@include current-exp-bar();
						width: 20%;
						left: 48%;
						background-color: g.$primary-color;
						border-radius: 0 5px 5px 0;
					}
				}
			}

			&__group-button {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: stretch;
				padding: u.rem(10);

				&__button {
					display: block;
					padding: u.rem(5) u.rem(20);
					font-size: u.rem(24);
					font-weight: bold;
					background-color: g.$light-blue;
					color: #fff;
					border: 3px solid transparent;
					border-radius: u.rem(30);
					text-align: center;

					&.active {
						background-color: g.$primary-color;
					}

					&:first-child {
						margin-bottom: u.rem(10);
					}

					&.disabled {
						cursor: not-allowed;
						background-color: g.$gray;
					}

					&:hover:not(&.disabled) {
						border-color: g.$secondary-color;
						background-color: #fff;
						color: g.$secondary-color;
					}
				}
			}
		}

		// Information
		.pokemon-info {
			padding: u.rem(50) u.rem(85);
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-gap: u.rem(25) 0;

			h5 {
				font-family: u.$heading-font;
				font-size: u.rem(30);
				font-weight: bold;
				margin-bottom: u.rem(20);
			}

			&__row {
				display: flex;
				flex-direction: row;
			}

			&__row:nth-child(1) {
				grid-column: 1 / 4;
				justify-content: space-between;

				span {
					display: block;
					text-align: center;
					color: g.$primary-color;
					font-weight: bold;
					font-size: u.rem(26);
				}
			}

			&__row:nth-child(2) {
				grid-column: 1 / 4;
				justify-content: space-between;

				.pokemon-info__type div {
					background-color: g.$secondary-color;
					padding: u.rem(9) u.rem(34);

					span {
						color: #fff;
						font-weight: bold;
					}
				}
			}

			&__caught-by {
				margin-left: 0;

				ul {
					display: flex;
					flex-direction: row;
                    justify-content: center;
                    align-items: center;

					li:not(:last-child) {
						margin-right: u.rem(15);
					}
				}
			}

			&__row:nth-child(3) {
				grid-column: 1 / 4;
				display: flex;
				flex-direction: column;
			}

			&__evolutions {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;

				&__item {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;

					&__name {
						font-family: u.$heading-font;
						font-weight: bold;
						font-size: u.rem(23);
						text-transform: capitalize;
						color: g.$primary-color;
						margin-top: u.rem(10);
					}

					&__img {
						border: 3px solid g.$secondary-color;
						border-radius: 50%;
						padding: u.rem(15);

						img {
							width: u.em(90);
							height: u.em(79);
						}
					}

					&__levels {
						font-size: u.rem(20);
						margin-top: u.rem(5);
                        font-weight: bold;
					}
				}
			}
		}

		// Items
		.item-container {
			display: none;
			flex-direction: column;
			justify-content: space-between;
			margin-left: u.rem(55);

            &.show {
                display: flex;
            }
            

			.items-list {
				display: flex;
				flex-direction: column;
				grid-gap: u.rem(30) 0;
                padding: u.rem(20);
                overflow-x: hidden;
                overflow-y: auto;
                max-height: 50vh;
                

				&__item {
					position: relative;
					display: flex;
					flex-direction: row;
					align-items: center;
					border: 3px solid g.$secondary-color;
					border-radius: u.rem(15);

					&:hover, &.selected {
						border-color: g.$primary-color;
					}

					&__select-box {
						position: absolute;
						top: calc(-1 * u.rem(10));
						right: calc(-1 * u.rem(10));
						width: u.rem(25);
						height: u.rem(25);
						border: 3px solid g.$secondary-color;
						border-radius: u.rem(20);
						background-color: #fff;
						display: flex;
						justify-content: center;
						align-items: center;

						i {
							color: #fff;
							display: none;
						}
					}

                    &.selected .items-list__item__select-box{
                        background-color: g.$success-color;
                        border-color: g.$success-color;

                        i {
                            display: block;
                        }
                    }

					&__img-holder {
						padding: u.rem(30);

						img {
							width: u.rem(120);
						}
					}

					&__details {
						padding: u.rem(23);
						display: flex;
						flex-direction: column;
						grid-gap: u.rem(15) 0;
						width: 100%;

						p {
							margin: 0;
						}

						&__name {
							font-family: u.$heading-font;
							color: g.$primary-color;
							font-size: u.rem(30);
							font-weight: bold;
						}

						&__affect {
							font-size: u.rem(25);

							span {
								color: g.$success-color;
								font-weight: bold;
							}
						}

						&__amount {
							display: flex;
							flex-direction: row;
							justify-content: space-between;
							align-items: center;

							label {
								font-size: u.rem(25);
							}

							&__input {
								display: flex;
								flex-direction: row;
								justify-content: space-between;
								align-items: center;
								grid-gap: 0 u.rem(20);

								> * {
									display: inline-block;
								}

								&__increase,
								&__decrease {
									border: 1px solid g.$black;
									padding: u.rem(5);
								}

								&__max {
									color: g.$light-blue;
									font-size: u.rem(25);
                                    font-weight: 700;
								}

								input[type="number"] {
									width: u.rem(80);
									border: 3px solid g.$secondary-color;
									border-radius: u.rem(5);
									padding: u.rem(5);
									font-size: u.rem(25);
                                    text-align: center;
								}
							}
						}
					}
				}
			}


            &__footer {
                grid-column: 1 / 3;
                display: flex;
                justify-content: flex-end;
                margin-top: u.rem(20);

                &__button--submit {
                    outline: none;
                    border: none;
                    background-color: g.$primary-color;
                    padding: u.rem(15) u.rem(80);
                    font-size: u.rem(24);
                    border-radius: u.rem(42);
                    color: #fff;
                    font-weight: bold;
                    font-family: u.$heading-font;

                    &:hover {
                        background-color: g.$light-blue;
                        transition: 0.4s ease-in-out;
                    }
                }
            }
		}
	}
}
