@forward "../style";
@forward "./layout";
@forward "./modal";
@use "../globals" as g;
@use "../util" as u;

.amount {
    margin: auto;

    span {
        border: 3px solid g.$secondary-color;
        border-radius: u.rem(8);
        padding: u.rem(10) u.rem(15);
        font-size: u.rem(23);
        font-weight: bold;
    }
}

.card {
    @include u.breakpoint(xlarge) {
        // width: u.em(265);
    }

    &__level {
        position: absolute;
        top: calc(-1 * u.rem(13));
        right: calc(-1 * u.rem(25));
        background-color: g.$light-blue;
        border-radius: u.rem(22);
    
        @include u.breakpoint(xlarge) {
            max-width: u.em(82);
            max-height: u.em(31);
        }
    
        span {
            padding: u.rem(7) u.rem(25);
            display: inline-block;
            font-size: u.rem(13);
            color: #fff;
            text-transform: capitalize;
        }
    }
    
    &__pokemon_img img{
        @include u.breakpoint(xlarge) {
            width: u.em(165);
            height: u.em(208);
        }
    }
    
    &__power {
        font-size: u.rem(19);
        font-weight: bold;
        color: g.$secondary-color;
        margin-top: u.rem(20);
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        & > * {
            display: inline-block;
            
            &:not(:last-child) {
                margin-right: u.rem(5);
            }
        }

        i{
           color: g.$primary-color; 
           line-height: u.rem(19);
        }

        & > span:last-child {
            color: g.$primary-color; 
            font-size: u.rem(25);
        }
    }
}