@forward "../style";
@use "../globals" as g;
@use "../util" as u;

.shop {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: u.rem(100);

    &__title {
        margin: u.rem(50);
        font-size: u.rem(100);
        color: g.$primary-color;
    }

    &__img {
        width: u.em(300);
    }
}
