@use "../globals" as g;
@use "../util" as u;
@import "../variables";

/**
    1. Loading
    2. Pokemon Status
        2.1 Description
    3. Group button
        3.1 Button
            3.1.1 Outline Button
            3.1.2 Primary Button
    4. Outline Button
    5. Primary Button

**/

// 1. Loading
.loading {
	display: none;
	justify-content: center;
	align-items: center;
	grid-gap: u.rem(10);
	margin: u.rem(16) 0;

	&.show {
		display: flex;
	}

	img {
		width: u.rem(30);
	}
}

// 2. Pokemon Status
.pokemon-status {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: calc(-1 * u.rem(60));
	left: calc(-1 * u.rem(50));

	// 2.1 Description
	&__desc {
		display: block;
		position: absolute;
		color: #fff;
		font-weight: bold;
		font-size: u.rem(20);
	}
}

// 3. Group button
.group-btn {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: u.rem(32);

	@mixin footer-button {
		background-color: $secondary-color;
		font-family: $heading-font;
		color: #fff;
		text-align: center;
		font-weight: bold;
		font-size: 1.4rem;
		padding: u.rem(16) u.rem(54);
		border-radius: u.rem(34);
		border: 4px solid $secondary-color;

		&:not(:last-child) {
			margin-right: u.rem(16);
		}

		&:hover {
			background-color: #fff;
			color: $secondary-color;
			border: 4px solid $primary-color;
			transition: 0.3s ease-in-out;
		}
	}

	// 3.1 Button
	&__button {
		// 3.1.1 Outline Button
		&__outline-btn {
			@include footer-button();
			background-color: #fff;
			color: $secondary-color;

			&.self-align-left {
				margin-right: auto;
			}
		}

		// 3.1.2 Primary Button
		&__primary-btn {
			@include footer-button();
		}
	}
}

// 4. Primary Button
.primary-btn {
	background-color: $secondary-color;
	font-family: $heading-font;
	color: #fff;
	text-align: center;
	font-weight: bold;
	font-size: 1.4rem;
	padding: u.rem(16) u.rem(54);
	border-radius: u.rem(34);
	border: 4px solid $secondary-color;

	&:hover {
		background-color: #fff;
		color: $secondary-color;
		border: 4px solid $primary-color;
		transition: 0.3s ease-in-out;
	}
}

// 5. Outline Button
.outline-btn {
	@extend .primary-btn;
	background-color: #fff;
	color: $secondary-color;
}
