@use "../globals" as g;
@use "../util" as u;
@forward "../style";
@forward "./";
@import "../pokemon/pokemon";

.battle {
	display: none;
	width: 100%;

	&.show {
		display: block;
	}

	&__container {
		padding-top: u.rem(46);
	}

	&__content {
		margin: auto;

		@include u.breakpoint(xlarge) {
			width: u.em(1400);
		}
	}
}

.in-battle {
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
        margin-bottom: u.rem(40);
	}

	&__title {
		font-size: u.rem(40);
		color: g.$primary-color;
		margin-bottom: u.rem(60);
	}

	&__content {
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-content: center;
		margin: u.rem(50) 0;
	}

	&__card {
		position: relative;

		&.defeated {
			opacity: 0.4;
		}
	}

	&__stats {
		position: relative;
	}

	&__defeat-label {
		display: none;
		opacity: 1;
		position: absolute;
		top: calc(u.rem(20));
		left: calc(u.rem(100));
		background-color: g.$black;
		padding: u.rem(14) u.rem(54);
		border-radius: u.rem(20);
		transform: rotate(40deg);

		&.show {
			display: block;
		}

		span {
			font-size: u.rem(30);
			text-transform: capitalize;
			font-weight: bold;
			font-family: u.$heading-font;
			color: #fff;
		}
	}

	&__divider {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&__message {
			padding: u.rem(50) u.rem(40);
			border-radius: 60%;
			font-size: u.rem(36);
			color: #fff;
			font-weight: bold;
			background-color: g.$primary-color;
			margin-bottom: u.rem(20);

			&.bg-won {
				background-color: g.$success-color;
			}

			&.bg-lost {
				background-color: g.$black;
			}
		}
	}

	&__health {
		&__title {
			margin: u.rem(30) 0 u.rem(10) 0;
			font-size: u.rem(24);
			font-weight: bold;
			color: g.$primary-color;
		}

		@mixin health-bar {
			height: u.rem(10);
			border-radius: u.rem(10);
			background-color: rgba(g.$black, 0.5);
		}

		&__bar {
			width: 100%;
			@include health-bar;

			&.losing::before {
				@include health-bar;
				content: "";
				display: block;
				width: 70%;
				background-color: g.$primary-color;
			}

			&.full {
				width: 100%;
				background-color: g.$success-color;
			}
		}
	}
}

.select {
	&__pokemon__power {
		justify-content: center;
		margin-top: u.rem(0);

		span {
			color: g.$black;

			&:last-child {
				color: g.$light-blue;
			}
		}
	}

	&__content {
		align-items: center;
		grid-template-columns: 1fr 2fr 4fr;
	}

	&__stats {
		grid-column: 1 / span 1;
	}

	&__divider {
		position: relative;
		grid-column: 2 / span 1;
		grid-row: 1;
		height: 100%;
		margin: 0 u.rem(50);
		padding: u.rem(20);
		display: flex;
		justify-content: center;
		align-items: center;

		&::before {
			content: "";
			width: u.em(5);
			height: 120%;
			position: absolute;
			top: u.rem(-99);
			left: 53%;
			background-color: g.$secondary-color;
			transform: rotate(15deg);
		}

		&__message {
			background-color: g.$primary-color;
			padding: u.rem(20);
			font-family: u.$heading-font;
			color: #fff;
			font-weight: bold;
			font-size: u.rem(24);
			border-radius: 50%;
			border: 10px solid #fff;
			z-index: 10;
		}
	}

	&__pokemon-list {
		grid-column: 3 / -1;
		grid-row: 1;

		.item-container {
			margin-left: 0;
		}
	}
}

.result-success {
	&__footer {
		margin-top: u.rem(70);

		&__button {
			margin-left: u.rem(30);
		}
	}
}

.rewards {
    &__content {
        padding-top: u.rem(50);

        .pokemon-status.winner {
            position: absolute;
            background-color: g.$success-color;
            padding: u.rem(20) u.rem(80);
            border-radius: u.rem(20);
            transform: rotate(-35deg);
            top: 0;
            left: calc(-1 * u.rem(50));
        }
    }

	&__list {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: u.rem(25) 0;
        padding-left: u.rem(80);

		h4 {
			font-size: u.rem(30);
			margin: 0;
		}

		&__exp {
			display: flex;
			align-items: center;
			grid-gap: u.rem(40);
			margin-bottom: u.rem(30);

			p {
				font-size: u.rem(25);
				font-weight: bold;
				margin: 0;
				display: flex;
				justify-content: center;
				align-items: center;

				i {
					margin-left: u.rem(10);
				}
			}

			&__additional {
				display: inline-block;
				font-size: u.rem(23);
				color: g.$success-color;
				margin-left: u.rem(16);
			}
		}

		&__items {
			position: relative;

			h4 span {
				position: absolute;
				top: 0;
				margin-left: u.rem(10);
				color: g.$primary-color;
				font-size: u.rem(21);
			}

			&__item {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				padding: u.rem(20) u.rem(30);
				margin: u.rem(20) u.rem(30) u.rem(20) u.rem(50);
				width: 60%;
				border: 3px solid g.$secondary-color;
				border-radius: u.rem(20);

				.rewards__item__left {
                    display: flex;
                    align-items: center;
                    width: 70%;

					.rewards__item__img {
						width: u.em(50);
						height: u.em(50);
                        margin-right: u.rem(30);
					}

					.rewards__item__name {
						font-weight: bold;
						font-size: u.rem(22);
					}
				}

				.rewards__item__amount {
					font-weight: bold;
					font-size: u.rem(24);
					color: g.$success-color;
				}
			}
		}
	}
}
