@use '../util' as u;
@import "../mixins/typography";

.container {
	display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: u.rem(25);

    h1 {
        @include game-title;
        grid-column: 1 / -1;
        grid-row: 1 / span 1;
    }
    
    form {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
    }

    .validation {
        grid-column: 3 / span 1;
        grid-row: 2 / span 1;

        @include u.breakpoint-down(large) {

        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
        }
    }

}