@use '../util' as u;

.container {
	display: grid;
    height: 100%;

    @include u.breakpoint(xlarge) {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 6fr;
    
        h1 {
            grid-column: 1 / 4;
            grid-row: 1 / 2;
        }
    
        form {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
        }
    
        .validation {
            grid-column: 3 / 4;
            grid-row: 2 / 3;
        }
    }
}