@use "../globals" as g;

.validation {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	margin-right: 3.375rem;

	&__img {
		width: 250px;
	}

	&__error {
		display: none;
        width: min(100%, 430px);
		padding: 1rem 2rem;
		border: 2px solid g.$black;
		border-radius: 1rem;
		margin: 0 auto 2rem auto;
		align-self: center;
		position: relative;
		&::after {
			content: "";
			width: 0;
			height: 0;
			position: absolute;
			top: 100%;
			left: 70%;
			border-left: 20px solid transparent;
			border-right: 20px solid transparent;
			border-top: 20px solid g.$primary-color;
		}

		&__message {
			font-size: 1.375rem;
			font-weight: bold;
			color: g.$primary-color;
		}

        &.show {
            display: block;
        }
	}
}
