@forward "../style";
@forward "./layout";
@forward "./form";
@forward "./validation";
@use "../globals" as g;
@use "../util" as u;

/**
*   1. Instruction
        1.1 Text
        1.2 List
*/ 

// 1. Instruction
.instruction {
    @include u.breakpoint(xlarge) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        width: 70%;
        height: 50%;
        padding: 2rem;
        margin: 1.5rem auto;
    }
    
    border: 2px solid $secondary-color;
    border-radius: .5rem;

    // 1.1 Text
    &__text {
        font-size: 1.4rem;

        &--bold {
            font-weight: bold;
            color: $secondary-color;
        }
    }

    // 1.2 List
    &__list {
        padding: 0 2em;
        list-style-type: square;

        &__item {
            padding: .3rem;

            &:not(:last-child) {
                margin-bottom: .4rem;

            }
        }
    }
}