@forward "../style";
@forward "./layout";
@forward "./form";
@forward "./validation";
@use "../globals" as g;
@use "../util" as u;

.instruction {
    @include u.breakpoint(xlarge) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        width: 70%;
        height: 50%;
        padding: 2rem;
        margin: 1.5rem auto;
    }
    
    border: 2px solid g.$secondary-color;
    border-radius: .5rem;

    &__text {
        font-size: 1.4rem;

        &--bold {
            font-weight: bold;
            color: g.$secondary-color;
        }
    }

    &__list {
        padding: 0 2em;
        list-style-type: square;

        &__item {
            padding: .3rem;

            &:not(:last-child) {
                margin-bottom: .4rem;

            }
        }
    }
}