@forward "../style";
@use "../globals" as g;
@use "../util" as u;

.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	margin: u.rem(32);

	&__btn {
		padding: u.rem(25) u.rem(70);
		color: #fff;
		font-weight: bold;
		font-size: u.rem(28);
		background-color: g.$primary-color;
		border-radius: u.rem(37);

		&:hover {
			background-color: g.$light-blue;
			transition: 0.5s ease-in-out;
		}
	}

	&__deco-img--left {
		position: absolute;
		left: 0;
		bottom: 0;

		img {
			width: u.rem(375);
			height: u.rem(325);
		}
	}

	&__deco-img--right {
		@extend .hero__deco-img--left;
		right: 0;
		left: auto;
	}
}

.tutorial {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: u.rem(80);

	h2 {
		padding: u.rem(25);
		font-size: u.rem(46);
		color: #fff;
		text-align: center;
		background-color: g.$secondary-color;
		border-bottom: 10px solid g.$light-blue;
	}

	&__description {
		text-align: center;
		align-self: center;
		font-size: u.rem(25);
		margin: 0 0 u.rem(20) 0;
		padding: 0 u.rem(20);
	}
}

.guide {
	margin: u.rem(32);
	background-color: g.$secondary-color;

	p {
		color: #fff;
        font-size: u.rem(24);
	}

    @mixin title {
        position: absolute;
        top: calc(-1 * u.rem(60));
        left: calc(-1 * u.rem(40));
        background-color: g.$primary-color;
        color: #fff;
        padding: u.rem(14) u.rem(39);
        font-size: u.rem(30);
        border-left: 10px solid g.$secondary-color;
        border-top-right-radius: u.rem(33);
        border-bottom-right-radius: u.rem(33);
    }

    @mixin guide-wrapper {
        position: relative;
        padding: u.rem(40) u.rem(60);
        margin: u.rem(30) u.rem(30) u.rem(60) u.rem(30);
    }

	&__explore {
        @include guide-wrapper();

        .title {
            @include title;

        }
	}

    &__items {
        @include guide-wrapper();

        .title {
            @include title;
        }
    }

    &__shop {
        @include guide-wrapper();

        .title {
            @include title;
        }
    }
}
