// @use "../globals" as g;
@use "../util" as u;
@forward "../globals";
@import "../variables/";

/**
    1. Container
    2. Hero
        2.1 Image
        2.2 Button
        2.3 Decorated Image (Left)
        2.4 Decorated Image (Right)
    3. Tutorial
        3.1 Title
        3.2 Description
    4. Guide
        4.0.1 Title (Mixins)
        4.0.2 Guide Wrapper (Mixins)
        4.1 Explore
        4.2 Items
        4.3 Shop
**/

// 1. Container
.container {
	margin-bottom: 0;
}

// 2. Hero
.hero {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	position: relative;
	margin: u.rem(32);
	height: 90vh;

	// 2.1 Image
	&__img {
		width: u.em(650);
	}

	// 2.2 Button
	&__btn {
		padding: u.rem(25) u.rem(70);
		color: #fff;
		font-weight: bold;
		font-size: u.rem(28);
		background-color: $primary-color;
		border-radius: u.rem(37);

		&:hover {
			background-color: $light-blue;
			transition: 0.5s ease-in-out;
		}
	}

	// 2.3 Decorated Image (Left)
	&__deco-img--left {
		position: absolute;
		left: 0;
		bottom: 0;

		img {
			width: u.rem(375);
			height: u.rem(325);
		}
	}

	// 2.4 Decorated Image (Right)
	&__deco-img--right {
		@extend .hero__deco-img--left;
		right: 0;
		left: auto;
	}
}

// 3. Tutorial
.tutorial {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: u.rem(80);
	background-color: $secondary-color;

	// 3.1 Title
	h2 {
		padding: u.rem(25);
		margin-bottom: u.rem(10);
		font-size: u.rem(46);
		color: #fff;
		text-align: center;
		background-color: $secondary-color;
		border-bottom: 10px solid $light-blue;
	}

	// 3.2 Description
	&__description {
		width: 80%;
		text-align: center;
		align-self: center;
		color: #fff;
		font-size: u.rem(25);
		margin: u.rem(40);
		padding: u.rem(20) u.rem(40);
	}
}

// 4. Guide
.guide {
	margin: u.rem(32);
	background-color: $secondary-color;

	p {
		color: #fff;
		font-size: u.rem(24);
	}

	// 4.0.1 Title (Mixins)
	@mixin title {
		position: absolute;
		top: calc(-1 * u.rem(60));
		left: calc(-1 * u.rem(40));
		background-color: $primary-color;
		color: #fff;
		padding: u.rem(14) u.rem(39);
		font-size: u.rem(30);
		border-left: 10px solid $secondary-color;
		border-top-right-radius: u.rem(33);
		border-bottom-right-radius: u.rem(33);
	}

	// 4.0.2 Guide Wrapper (Mixins)
	@mixin guide-wrapper {
		position: relative;
		padding: u.rem(40) u.rem(60);
		margin: u.rem(30) u.rem(30) u.rem(60) u.rem(30);
	}

	// 4.1 Explore
	&__explore {
		@include guide-wrapper();

		.title {
			@include title;
		}
	}

	// 4.2 Items
	&__items {
		@include guide-wrapper();

		.title {
			@include title;
		}
	}

	// 4.3 Shop
	&__shop {
		@include guide-wrapper();

		.title {
			@include title;
		}
	}
}
