/* 
    1. Global styles
    2. Header
    3. Tech
    4. Feature
    5. Mockups
    6. References
*/

/* ===== 1. Global styles ===== */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Krub', sans-serif;
    background-color: var(--light-gray);
}

:root {
    --red: #EE6352;
    --dark-blue: #1B1F3B;
    --light-blue: #5299D3;
    --light-purple: #C874D9;
    --light-gray: #EEF1EF;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'KoHo', sans-serif;
}

main {
    padding: 2em;
}

section {
    margin-bottom: 1.5em;
}

section h2 {
    padding-left: 10px;
    border-left: 5px solid var(--red);
    color: var(--dark-blue);
}

section p {
    padding: 0 2em;
    line-height: 1.6;
}
/* ===== 2. Header ===== */

header {
    text-align: center;
}

header h1 {
    text-transform: uppercase;
    color: var(--red);
}

header p {
    font-size: 1.2em;
}

header p:last-child {
    color: var(--dark-blue);
    font-weight: bold;
}

/* ===== 3. Tech ===== */
#tech {
    display: flex;
    flex-direction: column;
}

.tech-items {
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 360px);
    grid-template-rows: 1fr;
    justify-content: center;
}

.tech-items img {
    max-width: 30%;
}