@use "../globals" as g;
@use "../util" as u;

.flex-container {
	display: flex;
	flex-direction: column;
	height: 100vh;

	main {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;

        h1 {
            margin: auto;
            font-size: 5.25rem;
            text-align: center;
            text-transform: capitalize;
            color: g.$primary-color;
        }
	}

	// header {
	// 	display: flex;
	// 	flex-direction: row;
	// 	justify-content: space-between;
	// 	align-items: center;
	// }

	footer {
		padding: 1rem;
		font-size: 0.9rem;
		background: g.$black;
		color: #fff;
		text-align: center;
	}
}
