@use "../globals/colors";
@use "../util/font";

.flex-container {
	display: flex;
	flex-direction: column;
	height: 100%;

	main {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
	}

	header {
		padding: 2rem 3.375rem;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

        .auth {
            &__list {
                display: flex;
                flex-direction: row;
            }

            &__item {
                width: 12.7rem;
                height: 4rem;
                border: 3px solid colors.$secondary-color;
                border-radius: 24px;
                padding: .9rem 2rem;

                &:first-child {
                    margin-right: 1.2rem; 
                }

                &.active {
                    background: colors.$secondary-color;

                    .auth__link {
                        color: #fff;
                    }
                }
            }

            &__link {
                font-family: font.$heading-font;
                text-align: center;
                font-size: 1.4rem;
                font-weight: bold;
                display: block;
                color: colors.$secondary-color;
            }

        }
	}

	footer {
		padding: 1rem;
		font-size: 0.9rem;
		background: colors.$dark-color;
		color: #fff;
		text-align: center;
	}
}
