@use "../globals" as g;
@use "../util" as u;

/*
    1. Flex Container
        1.1 Main
            1.1.1 Title
            1.1.2 Content Wrapper
        1.2 Footer
    2. Footer
**/

// 1. Flex Container
.flex-container {
	display: flex;
	flex-direction: column;
	position: relative;

}