@import "colors";

$lg-padding: 2rem 3.375rem;

.flex-container {
	display: flex;
	flex-direction: column;
	height: 100%;

	main {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;
	}

	header {
		padding: $lg-padding;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		background: $secondary-color;
	}

	footer {
		padding: 1rem;
		font-size: 0.9rem;
		background: $dark-color;
		color: #fff;
		text-align: center;
	}
}
