@use "../globals" as g;
@use "../util" as u;

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	@include u.breakpoint(xlarge) {
		padding: 2rem 3.375rem;
	}

	&__logo {
		width: u.rem(72);
		height: u.rem(72);
		display: none;

		img {
			width: 100%;
		}
	}

	&.auth &__nav {
		width: auto;
	}

	&.auth &__logo {
		display: block;
	}

	&.auth &__nav__list__item {
		border: 3px solid g.$secondary-color;

		&.active {
			background: g.$secondary-color;

			& > .navbar__nav__list__item__link {
				color: #fff;
			}
		}
	}

	&:not(&.auth) {
		background-color: g.$secondary-color;
	}

	&__nav {
		width: 100%;

		&__list {
			display: flex;
            align-items: center;

			&__item {
				width: 12.7rem;
				height: 4rem;
				border-radius: 2rem;
				text-align: center;
				background-color: #fff;
				border: 3px solid transparent;

				&:hover {
					border-color: g.$primary-color;
				}

				&:hover &__link {
					color: g.$primary-color;
				}

				&:not(:last-child) {
					margin-right: 1.2rem;
				}

				&:last-child {
					margin-left: auto;
				}

				&.active {
					background-color: g.$primary-color;

					& .navbar__nav__list__item__link {
						color: #fff;
					}
				}

				&.profile {
					width: u.rem(59);
					height: u.rem(59);
					border-radius: 50%;
					display: flex;
					justify-content: center;
					align-items: center;

					i {
						font-size: u.rem(30);
						line-height: u.rem(60);
					}
				}

				&__link {
					font-family: u.$heading-font;
					text-align: center;
					font-size: 1.4rem;
					padding: 0.9rem 2rem;
					font-weight: bold;
					display: block;
					color: g.$secondary-color;
					// background-color: #fff;

					&:hover {
						color: g.$secondary-color;
						transition: 0.3s ease-out;
					}
				}
			}
		}
	}
}
