@use '../util';

html {
	box-sizing: border-box;
    font-size: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: $text-font;
	margin: 0;
	padding: 0;
    color: #fff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}