@use '../util' as u;

html {
	box-sizing: border-box;
    font-size: 100%;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: u.$text-font;
	margin: 0;
	padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@mixin card-border-bottom-radius {
    border-bottom-left-radius: u.rem(25);
    border-bottom-right-radius: u.rem(25);
}

@mixin card-border-top-radius {
    border-top-left-radius: u.rem(5);
    border-top-right-radius: u.rem(5);
}