@use '../util' as u;
@use './colors' as c;

.card {
    &__content {
        width: 100%;
        border: 4px solid c.$secondary-color;
        border-radius: u.rem(5) u.rem(5) 0 0;
        padding: u.rem(52) u.rem(52) u.rem(20) u.rem(52);
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__level {
        font-weight: bold;
    }

    &__footer {
        border: 2px solid c.$secondary-color;
        border-radius: 0 0 u.rem(25) u.rem(25);
        width: 100%;
        padding: u.rem(15);
        background-color: c.$secondary-color;

        p {
            font-family: u.$heading-font;
            font-weight: bold;
            font-size: u.rem(17);
            margin: 0;
            text-align: center;
            color: #fff;
        }
    }

    &.hoverable:hover {
        cursor: pointer;
        .card__content,
        .card__footer {
            border-color: c.$primary-color;
            transition: 0.4s ease-in-out;
            box-shadow: u.rem(5) u.rem(10) rgba($color: c.$primary-color, $alpha: .1);
        }
    }
}