@use "../util/" as u;
@import "../variables";

/**
    1. Main
    2. Footer
**/ 

// 1. Main
main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

// 2. Footer
footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	padding: 1rem;
	font-size: 0.9rem;
	background: $black;
	color: #fff;
	text-align: center;
}
