@use "../util" as u;
@import "../variables/";

/** Navbar
    1. Link
    2. Logo
    3. Nav (Auth)
    4. Nav
**/ 

.navbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
    padding: 2rem 3.375rem;

    &.show {
        flex-direction: column;
    }

    // 1. Link
    &__link {
        font-size: u.rem(20);
        color: $primary-color;
        text-decoration: underline;

        &:hover {
            color: $secondary-color;
        }
    }

    // 2. Logo
	&__logo {
		width: u.rem(72);
		height: u.rem(72);
        position: relative;
        display: none;

        @include u.breakpoint-down(large) {
            width: u.rem(62);
            height: u.rem(62);
            display: block;
        }
        @include u.breakpoint-down(medium) {
            width: u.rem(52);
            height: u.rem(52);
        }

		img {
			width: 100%;
		}

        &.active {
            align-self: flex-end;

            img {
                width: 0;
            }

            &::before {
                content: "";
                position: absolute;
                bottom: 45%;
                left: 0;
                background-color: $primary-color;
                width: 100%;
                height: u.rem(10);
                transform: rotate(45deg);
            }

            &::after {
                content: "";
                position: absolute;
                bottom: 45%;
                left: 0;
                background-color: $primary-color;
                width: 100%;
                height: u.rem(10);
                transform: rotate(-45deg);
            }
        }
	}

    // 3. Nav (Auth)
	&.auth &__nav {
		width: auto;
	}

	&.auth &__logo {
		display: block;
	}

	&.auth &__nav__list__item {
		border: 3px solid $secondary-color;

		&.active {
			background: $secondary-color;

			& > .navbar__nav__list__item__link {
				color: #fff;
			}
		}
	}

	&:not(&.auth) {
		background-color: $secondary-color;
	}

    // 4. Nav
	&__nav {
		width: 100%;

        @include u.breakpoint-down(large) {
            display: none;

            &.show {
                display: block;
            }

            &.show > &__list {
                width: 100%;
                padding: 0 u.rem(20);
                flex-direction: column;
            }
            
            .navbar__nav__list__item {
                margin: u.rem(5);
                width: 100%;
                border-radius: u.rem(20);
            }
        }
        
		&__list {
			display: flex;
            align-items: center;

			&__item {
				width: 12.7rem;
				height: 4rem;
				border-radius: 2rem;
				text-align: center;
				background-color: #fff;
				border: 3px solid transparent;

				&:hover {
					border-color: $primary-color;
				}

				&:hover &__link {
					color: $primary-color;
				}

				&:not(:last-child) {
					margin-right: 1.2rem;
				}

				&:last-child {
					margin-left: auto;
				}

				&.active {
					background-color: $primary-color;

					& .navbar__nav__list__item__link {
						color: #fff;
					}
				}

				&.profile {
					width: u.rem(59);
					height: u.rem(59);
					border-radius: 50%;
					display: flex;
					justify-content: center;
					align-items: center;

					i {
						font-size: u.rem(30);
						line-height: u.rem(60);
					}
				}

				&__link {
					font-family: $heading-font;
					text-align: center;
					font-size: 1.4rem;
					padding: 0.9rem 2rem;
					font-weight: bold;
					display: block;
					color: $secondary-color;
                    
					&:hover {
						color: $secondary-color;
						transition: 0.3s ease-out;
					}
				}
			}
		}
	}
}
