@use "../util/" as u;
@import "../variables/";

/* Tab
    1. Header
    2. List
    3. Content
    4. Items
    5. Item
    6. Amount
**/

.tabs {
	display: flex;
	flex-direction: column;
	width: 100%;
	border: 3px solid $secondary-color;
	border-top-right-radius: u.rem(26);
	border-bottom-right-radius: u.rem(26);
	border-bottom-left-radius: u.rem(26);

	// 1. Header
	&__header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;
		padding: 0 u.rem(32) 0 0;
	}

	// 2. List
	&__list {
		display: flex;
		flex-direction: row;
		align-items: center;

		&__item.active &__link {
			background-color: $secondary-color;
		}
		&__item:not(&__item.active) &__link:hover {
			border-bottom-color: $primary-color;
		}

		&__link {
			display: block;
			padding: u.rem(15) u.rem(80);
			color: #fff;
			font-weight: bold;
			font-size: u.rem(24);
			background-color: $light-blue;
			border-bottom: 5px solid transparent;
		}
	}

	// 3. Content
	&__content {
		padding: u.rem(65) u.rem(52);
		display: flex;
		flex-direction: row;
	}

	// 4. Items
	&__items {
		display: none;
		width: 100%;
		align-items: center;

		@include u.breakpoint(xlarge) {
			grid-template-columns: repeat(4, 1fr);
			grid-auto-flow: row;
			grid-gap: u.rem(100);
		}

		&.show {
			display: grid;
		}
	}

	// 5. Item
	&__item {
		grid-column: span 1;
	}

	// 6. Amount
	.amount {
		display: inline-block;

		p {
			border: 2px solid $secondary-color;
			border-radius: u.rem(8);
			padding: u.rem(6) u.rem(22);
			font-size: u.rem(24);
			font-weight: bold;
			color: $secondary-color;
			margin: 0;
		}

		&--current {
			color: $primary-color;
		}
	}
}
